My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        16
      ],
      "id": "74dd9670-2a4e-4e01-950d-a7363ab28f4b",
      "name": "WhatsApp Trigger",
      "webhookId": "a051ce41-3f7a-48ed-8392-fb261beb2889",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "P1FDzPOgJcgx48it",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are given a String  {{ $json.messages[0].text.body }} in which yoy retreive what you assist",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant.you analyze given string and give only id for example if the string is \"https://www.youtube.com/watch?v=UZEETyzql0Q\" you have to return the id is \"UZEETyzql0Q\" it should be in JSON format:\n-id:\"UZEETyzql0Q\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -176,
        16
      ],
      "id": "77c8ab77-39cb-4d0d-bed7-1a830a653c4f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"id\": \"UZEETyzql0Q\"\n\t\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        16,
        208
      ],
      "id": "00675029-000a-4086-ab1e-b3bb6876fa64",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        208
      ],
      "id": "8cc40239-534c-4497-aad4-3c9bbc284255",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qJGkICR82I3QOX4N",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.youtube-transcript.io/api/transcripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic 687ce91430d308b5ea423823"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": " User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ids\": [\n    \"{{ $json.output.id }}\"\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        16
      ],
      "id": "585188d0-7520-4eb6-a051-66186455e60a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "let fullTranscript = \"\";\n\nif (\n  items[0]?.json?.tracks &&\n  Array.isArray(items[0].json.tracks) &&\n  items[0].json.tracks[0]?.transcript &&\n  Array.isArray(items[0].json.tracks[0].transcript)\n) {\n  fullTranscript = items[0].json.tracks[0].transcript\n    .map(segment => segment.text)\n    .join('');\n}\n\nreturn {\n  json: {\n    fullTranscript,\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        16
      ],
      "id": "28955b8f-8100-4240-98dc-5eaa65e7c8c2",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are given a full transcript  {{ $json.fullTranscript }} .you should remake according to assist you.",
        "options": {
          "systemMessage": "You are a helpful assistant.You should blog in a way such such that heading of a concept must be in BOLD and add some special icons for better understanding like for points use bullet point symbol.For example if it is about India it should be like this:\nwhere it is originated(in bold)......\ncultures.......\nReligions......."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        608,
        16
      ],
      "id": "12e707d5-1770-4ad2-a2e7-0b2368edcb2d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        208
      ],
      "id": "68c422d2-3e79-4283-a1f8-df75bec3b5a7",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "qJGkICR82I3QOX4N",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.output }}",
        "name": "={{ $('HTTP Request').item.json.microformat.playerMicroformatRenderer.category }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1_NVkc6W82ChZUHM-qxrEhgRC96ETlotQ",
          "mode": "list",
          "cachedResultName": "N8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1_NVkc6W82ChZUHM-qxrEhgRC96ETlotQ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        16
      ],
      "id": "5e90de1e-fac4-4df1-a790-d921c9dcb300",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "96MkNaRwN9Gzi86T",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/772289089291552/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKHcXWnjnkBPBm97LabC7ZAZCx4CsKwisWdrYYSEutAhFkukZAS51Ffk0p1xim3NvgSfYmDFIZBGvk2jtcPGauaYudi4BKxjwNL3NRTSa3Wu0ZAxZBZA7GEjU1iEWkpuvOOZBF6JNb1lidGN229WjxZCHxRLBZBDCr2b5EbuNxyPcHdIZAA3XfszCAH21H3yeTtBlG0z5hNzSGunRkxfstBnoq3dCf9TmKpgTWnBbAjvpvHVswgndJIlc86WbHbCGfvqoZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"918008177369\",\n  \"type\": \"document\",\n  \"document\": {\n    \"id\": \"{{ $json.id }}\",\n    \"caption\": \"Here is your text file\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        896
      ],
      "id": "f9495b84-87d0-41bf-bda6-bd82d4f4e162",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1216,
        16
      ],
      "id": "655968a0-6e4f-4207-81ac-5648e269c6a3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "96MkNaRwN9Gzi86T",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/772289089291552/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKHcXWnjnkBPBm97LabC7ZAZCx4CsKwisWdrYYSEutAhFkukZAS51Ffk0p1xim3NvgSfYmDFIZBGvk2jtcPGauaYudi4BKxjwNL3NRTSa3Wu0ZAxZBZA7GEjU1iEWkpuvOOZBF6JNb1lidGN229WjxZCHxRLBZBDCr2b5EbuNxyPcHdIZAA3XfszCAH21H3yeTtBlG0z5hNzSGunRkxfstBnoq3dCf9TmKpgTWnBbAjvpvHVswgndJIlc86WbHbCGfvqoZD"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "type",
              "value": "text/plain"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        640
      ],
      "id": "9d878614-85d3-4667-a61c-2b830f6fc2c9",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "name": "My file",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        432
      ],
      "id": "97f92eb4-8c63-4b2e-a89c-75056e29d9e1",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "96MkNaRwN9Gzi86T",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "fileName": "converted.pdf"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        656
      ],
      "id": "98a37b6a-c1e9-4ddf-9c09-3b6c00989c73",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "96MkNaRwN9Gzi86T",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create file from text": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e590dd9c-541e-4c31-a4f3-b8461d438705",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2dfd5a33c8302084ffd1c6af42eb3a584b7a312043d98cf6d7c25419b5ba725"
  },
  "id": "660JNLrC2BfCfwof",
  "tags": []
}